@media screen and (max-width: 1199px) {
	.hr-listing { padding: 0;}
	.hr-listing ul li i { width: 55px;}
	.hrl-right { padding-left: 5px;}
	footer { padding: 15px 0;}
	.mnr-wrap ul li a { padding: 18px 15px;}
	.mnr-right { margin-left: 30px;}
	.cel-tickets { padding-left: 5px;}
	.create-event-left {padding: 10px;}
	.cel-double .cel-left { padding: 20px 10px;}
	.buy-ticket-wrap .btw-left { padding-right: 0;}
	.event-image-gallery { margin-left: -5px;}
	.create-event-left { border-right: 0;}
	.create-events-wrap { padding-right: 5px }
	.create-event-right { padding: 8px;}
	.sd-left {font-size: 11px;}
	.create-event-right h1 { font-size: 22px;}
	.count-down {margin-left: -5px;}
	.ClassyCountdown-wrapper > div { margin: 10px 15px 30px;}
	.event-body .btw-left { padding-right: 30px;}
	.cebr-left, .cebr-right { width: 50%;}
	.create-events-full .ClassyCountdown-wrapper .ClassyCountdown-value div { padding-top: 47px;}
	.create-events-full .ClassyCountdown-wrapper .ClassyCountdown-value span {  font-size: 11px !important;}
	.create-events-full .cel-single { padding-left: 15px; padding-right: 15px }
}
@media screen and (max-height: 650px) {
	header { position: absolute; }
}
@media screen and (min-width: 992px) {
	.close-button { display: none; }
	.create-event-right {float: right;width: 30%;}
	.create-event-left {float: left;width: 70%;}
}
@media screen and (max-width: 991px) {
	/*.mnr-wrap ul li { width: 100% }*/
	.main-navigation {
	    position: fixed;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    z-index: 999;
	    overflow: auto;
	}
	.hrl-right h3 { font-size: 18px;}
	.hr-listing ul li i { width: 50px;}
	.hbw-left img { max-width: 100%;}
	.hbw-right { width: 70%;padding-bottom: 50px;}
	.create-events-wrap { padding: 0;}
	.create-event-right { padding: 15px; margin: 15px;}
	.event-body .btw-left { padding-right: 15px;}
	.cebr-left { width: 70%;}

	.cebr-right {width: 30%;display: block;}
	.cebr-right .btn-register { margin: 4px 0 0;}
	.cebr-right .btn {height: 38px;}
	.event-body .btw-left {width: 30%;}
	.event-body .btw-right { width: 70%;}
	.event-body .btw-left .ui-datepicker td {font-size: 15px;}
	.event-body .btw-left .ui-datepicker .ui-datepicker-prev span:before, 
	.event-body .btw-left .ui-datepicker .ui-datepicker-next span:before { font-size: 20px;}
	.event-body .btw-left .ui-datepicker .ui-datepicker-title {font-size: 16px;}
	.cebr-right .btn-register {line-height: 1.1;}
	.banner-text p { font-size: 20px; padding: 12px;}
	.create-events-full { padding: 0 0 30px;}
	.create-events-full .cel-single h3, .create-events-full .contact-us h4 { font-size: 20px;}
	.create-events-full .cel-double .cel-left p { font-size: 12px;}
	.create-events-full .buy-ticket-wrap h4, .create-events-full .cgr-single label { font-size: 12px;}
	.create-events-full .btw-left .ui-datepicker .ui-datepicker-title { font-size: 11px;}
	.create-events-full .btw-right { padding-left: 10px;}
	.create-events-full .btw-right ul li input, .create-events-full .btw-right ul li select, 
	.create-events-full .delete-li button, .create-events-full .bootstrap-select .btn { font-size: 12px;}
}
@media screen and (max-width: 850px) {
	.btw-right ul li { width: 20%; margin-bottom: 17px;}
	.event-body .ceb-right ul li { width: auto; margin: 0 }
	.create-events-full .bt-button { margin-top: 85px;}
	.ls-single h5, .ls-single .bootstrap-select .btn { font-size: 15px;}
	.modal-body { padding: 15px;}
	.modal-header { padding: 15px 15px 0;}

}	
@media screen and (max-width: 767px) {
	.hdr-nav-head .btn { font-size: 0;padding: 5px 40px 5px 15px;}
	.ClassyCountdown-wrapper .ClassyCountdown-value span { margin-top: 35px;}
	.hdr-nav-head .btn span { font-size: 15px;}
		.hdr-nav-head .btn:after { right: 5px;}
	.hbw-left { display: none; }
	.hbw-right h1 { margin: 0 }
	.hb-wrap { padding-top: 30px;} 
	.hdr-ac-right button { padding: 10px 7px;}
	.hdr-nav-head { padding: 16px 0;}
	.header-logo { padding: 14px 0;}
	header { height: 64px;}
	.event-body .buy-ticket-wrap form {display: block;}
	.event-body .btw-left {width: auto;padding: 0;}
	.modal-footer .btn {font-size: 17px;}
	.event-body .btw-right { width: auto;}
	.top-banner img {
	    width: auto;
	    max-width: inherit;
	    position: relative;
	    left: 50%;
	    height: 190px;
	    -webkit-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    -o-transform: translateX(-50%);
	    	transform: translateX(-50%);
	}
	.event-body { padding: 25px 0;	}
	.event-body .btw-left h4 { font-size: 20px; margin-bottom: 20px;}
	.create-events-full .bt-button button { font-size: 16px; padding: 12px;}
	.create-events-full .cel-single {  padding-left: 10px; padding-right: 10px;}
	.modal-lg { padding: 0;}
	.ls-single h3 { font-size: 16px;}
	.lss-img { height: 85px;}
	.ticket-pricing .table-responsive { font-size: 15px;}
}


@media screen and (max-width: 680px) { 
	.hdr-ac-left { display: none; }
	.hdr-nav-head { margin-right: 140px;}
	.opensettings .hdr-nav-head { margin-right: 255px;}
	.mnr-wrap ul li {width: 100%;}
	.profile-settings ul li a { font-size: 14px; padding: 13px 15px;}
	.profile-settings ul li a span { margin-left: 7px;}
	.profile-settings ul li a img { width: 30px;}
	.hr-listing ul li {width: 50%;}
	main { padding-top: 66px;}
	.btw-right ul li { width: 25%;}
	.ClassyCountdown-wrapper .ClassyCountdown-value div { padding-top: 40px;}
	.ClassyCountdown-wrapper > div { margin: 10px 5px 40px;}
	.countdown { max-width: 300px; margin: 0 auto;}
	.ClassyCountdown-wrapper .ClassyCountdown-value div {padding-top: 45px;}
	.ClassyCountdown-wrapper .ClassyCountdown-value span { margin-top: 48px;}
	.contact-us { padding-left: 0;}
	.contact-grid { display: block;}
	.cg-left, .cg-right { width: auto; }
	.cg-left p span { display: inline-block;}
	.cg-left {margin-bottom: 20px;}
	.cgr-left { padding-right: 15px;}
	.cs-single .cs-number {margin-right: 0;line-height: 25px;}
	.cs-number e { width: 26px; height: 26px; font-size: 14px}
	.checkout-steps ul li + li:before { background-size: 10px auto }
	.cs-single p { font-size: 11px;}
	.cel-head { display: block; padding: 5px 0;}
	.cel-top .cel-left, .cel-top .cel-center,.cel-top .cel-right { width: auto;text-align: center;}
	.cel-top .cel-center {
	    border-top: 1px solid rgba(255, 255, 255, 0.1);
	    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	    padding: 10px;
	}
	.cel-left ul li { padding: 5px 10px;}
	.ceb-right .cebl-inner {display: block;}
	.cebr-left,.cebr-right {width: auto;}
	.cebr-right {margin-top: 11px; text-align: left; margin-bottom: 5px;}
	.cebr-right .btn { display: inline-block; margin: 0; width: 95px;}
	.ceb-left { width: 20%; padding: 5px;}
	.ceb-right {width: 80%;}
	.ceb-left h1 {font-size: 25px;}
	.ceb-left h1 span { font-size: 13px;}
	.ceb-left:before { padding: 5px 0; font-size: 45px;}
	.cebr-left h2 {font-size: 18px;}
	.event-details h4 { font-size: 17px;}
	.event-details p { font-size: 12px; line-height: 1.4;letter-spacing: 0;}
	.create-events-full .ClassyCountdown-wrapper .ClassyCountdown-value span { bottom: -30px }
	.create-events-full .ClassyCountdown-wrapper .ClassyCountdown-value div { padding-top: 55px;}
	.create-events-full .ClassyCountdown-wrapper > div {  width: 120px;}
	.create-events-full .cel-double .cel-left { padding: 15px 0;}
	.create-events-full .cel-center h3 { font-size: 21px;}
	.create-events-full .cel-left ul li { font-size: 18px;}
	.create-events-full .cel-center p { font-size: 10px;}
	.lot-single ul {-ms-flex-wrap: wrap;flex-wrap: wrap;}
	.ls-image {width: 20%;}
	.ls-type {width: 40%;}
	.ls-price {width: 20%;}
	.ls-date {width: 30%;}
	.lot-single > ul > li:nth-child(5) { margin-left: 20%;}
	.lot-single > ul > li {margin-bottom: 20px;}
	.lot-single {padding-bottom: 0;}
	.ls-delete { width: 30%;	}
	.modal-footer .btn { font-size: 15px; padding: 11px 30px; }
	.modal-footer .btn.btn-primary {min-width: 240px;}
	.modal-footer { padding: 0 15px 25px;}
	.modal-title.name-event { font-size: 20px; padding: 10px 0 0;}
	.ticket-pricing .table-responsive { font-size: 14px;}
	.bds-field { border-bottom-width: 2px;}
	.bd-single { width: 50%; padding: 10px 10px 0;}
	.bd-single label { font-size: 14px;}
}


@media screen and (max-width: 550px) { 
	span.up-settings { display: none; }
	.opensettings .hdr-nav-head { margin-right: 140px;}
	.hdr-ac-right button { padding: 10px 7px;}
	.user-profile { margin-right: 0;}
	.hdr-nav-head, .opensettings .hdr-nav-head { margin-right: 70px;}
	.user-profile:after { display: none; }
	.hr-listing ul li { width: 100%;}
	.hdr-nav-head .btn { padding: 5px 20px 5px 9px;}
	.hdr-nav-head .btn:after {  width: 13px; background-size: 14px auto;}
	.header-right { margin-left: 125px;}
	.mnr-left-img {width: 0;}
	.mnr-wrap {margin-left: 0; border-left: 1px solid #dbdbdb;}
	.create-events-full .btw-right { padding: 0;} 
	.event-body .buy-ticket-wrap { padding: 0;}
	.mn-left-tab { padding-left: 0;}
	.mn-left-tab ul li a {
	    padding-left: 10px;
	    display: block;
	    text-align: center;
	    font-size: 12px;
	    line-height: 1.2;
	}
	.mn-left-tab ul li a img {width: 27px;  margin-right: 0; margin: 0 auto;}
	.mn-left-tab ul li a i { display: block;margin-bottom: 5px;}
	.hbw-right h1 { font-size: 23px; line-height: 1.14;}
	.hbw-right h1:before {width: 8px;}
	.buy-ticket-wrap form { display: block;}
	.btw-left,.btw-right { width: auto;}
	.cel-tickets { padding-left: 0;}
	.btwr-inner { margin: 0 -8px;}
	.btw-left .ui-widget.ui-widget-content { width: 100%;}
	.buy-ticket-wrap { padding: 0 5px;}
	.btw-right ul li { width: 33.333%;}
	.btw-right ul li.total-li { width: 100%;}
	.pi-title { padding: 7px 10px;}
	.cel-double,.cg-right form { display: block;}
	.cel-double .cel-left, .cel-double .cel-map,.cgr-left,.cgr-right { width: auto }
	.cgr-right { margin-top: 12px }
	.cgr-left { padding-right: 0;}
	.cgr-single button {margin-top: 5px;}
	.create-event-right { margin: 8px; padding: 10px;}
	.cs-single p { font-size: 0;}
	.create-events-full .bt-button { margin-top: 15px;}
	.ls-image { width: 30%;}
	.ls-type { width: 70%;}
	.ls-price { width: 33.333%;}
	.lot-single > ul > li:nth-child(5) {margin-left: 0;}
	.ls-date { width: 70%;}
	.modal-footer .btn { font-size: 13px; padding: 11px 15px;}
	.ls-single h3 { font-size: 15px;}
	.modal-footer .btn.btn-primary { min-width: 180px;}
	.bd-single { width: 100%;}
	.single-check label input[type="checkbox"] + p { font-size: 13px;}
	.single-check label input[type="checkbox"] + p:before { top: 4px;}
	.single-check label input[type="checkbox"] + p { padding: 2px 0 2px 25px;}
	.dbt-head {display: block;}
	.dbt-left, .bdt-right {width: auto;}
	.bdt-right { padding-top: 10px;}
	.bt-button { margin-top: 0;}
}
