@charset 'utf-8';
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');
/*@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');*/
body{color:#777;font-size:14px;font-family:"Open Sans", sans-serif;}
main{padding-top:76px;min-height:calc(100vh - 65px);}
header{background:#fff;box-shadow:0 0 10px rgba(0,0,0,.2);position:fixed;top:0;left:0;right:0;height:76px;z-index:99;}
.header-logo{float:left;width:101px;padding:20px 0;}
.header-logo a{display:block;background:#ddd;}
.header-right{margin-left:150px;}
.hdr-nav-head{margin-right:270px;text-align:right;padding:22px 0;position:relative;}
.header-nav{position:relative;}
.hdr-account{position:absolute;top:0;right:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.hdr-ac-left,.hdr-ac-right{}
.profile-settings{position:absolute;top:100%;right:0;background:#e5e5e5;padding:7px;min-width:100%;box-shadow:0 4px 4px rgba(0,0,0,.25);}
.hdr-ac-left span, .hdr-ac-left strong{display:block;white-space:nowrap;}
.hdr-ac-left{text-align:right;padding-right:15px;font-size:11px;line-height:1.1;}
.hdr-ac-left h6{margin:3px 0 0;font-weight:normal;font-size:9px;line-height:1.3;}
.user-profile{display:inline-block;vertical-align:middle;margin-right:45px;position:relative;}
.user-profile img{width:44px;height:44px;display:block;overflow:hidden;border-radius:50%;}
.overlay{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(119, 119, 119, 0.7);z-index:55;cursor:pointer;}
.hdr-ac-right button{display:block;padding:16px 17px;border:0;margin:0;background:#e5e5e5;outline:none;}
body:not(.opensettings) .up-settings{display:none;vertical-align:middle;}
.user-profile:after{content:'';width:25px;height:15px;background:url(../images/drop-color.png) center center no-repeat;background-size:20px auto;vertical-align:middle;position:absolute;top:50%;margin-top:-8px;right:-40px;}
.hdr-nav-head .btn{background:#fff;border:1px solid #9fdeda;border-radius:0;padding:5px 60px 5px 15px;outline:none !important;position:relative;}
.main-navigation{position:absolute;top:100%;left:0;right:-147px;background:#fff;text-align:left;box-shadow:0 4px 4px rgba(0,0,0,.1);}
.hdr-nav-head .btn span{font-weight:600;}
.hdr-nav-head .btn:after{content:'';position:absolute;top:50%;right:15px;width:25px;height:13px;background:url(../images/drop-icn.jpg) center center no-repeat;margin-top:-7px;background-size:20px auto;}
.hbw-inner{display:table;width:100%;}
footer{background:#00a79d;padding:20px 0;}
.hr-listing ul{margin:0;padding:0;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.hr-listing ul li{width:33.333%;display:table;text-align:left;margin-top:40px;padding:0 10px;}
.hr-listing ul li.align-mid i,.hr-listing .hrl-right{vertical-align:middle;}
.hrl-right h3{margin:0;font-weight:600;font-size:23px;}
.hr-listing ul li i{width:70px;}
header .container{padding-right:0;}
.hr-listing ul li i,.hrl-right{display:table-cell;}
.hbw-right h1{position:relative;padding:2px 0 2px 22px;margin:0 0 0 -100px;font-size:26px;line-height:1.3;}
.hr-listing ul li i img{max-width:100%;}
.hr-listing{padding-left:5%;padding-right:10%;}
.hbw-left,.hbw-right{display:table-cell;vertical-align:bottom;}
.hb-wrap{padding-top:50px;}
.hrl-right p{font-size:10px;margin:5px 0 0;opacity:.8;}
.hbw-right h1:before{content:'';position:absolute;top:0;left:0;bottom:0;width:13px;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.hbw-right{padding-bottom:100px;}
.hrl-right{padding-left:10px;}
.ftr-left img{vertical-align:middle;}
.mn-left-tab{width:27%;padding-left:15px;}
.mn-right-tab{width:73%;}
.mn-left-tab ul li{display:block;float:none;text-align:left;border:0;}
.mn-left-tab ul li a{border-width:0 !important;border-radius:0;font-weight:600;padding:10px 10px 10px 0;color:#777;margin:0;background:#fff !important;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.mn-left-tab ul li + li{border-top:1px solid #dbdbdb;}
.mn-left-tab ul li a:after{content:'';width:5px;position:absolute;top:0;right:0;bottom:0;visibility:hidden;opacity:0;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.mn-left-tab ul li.active a:after{visibility:visible;opacity:1;}
.mn-inner:after,.mn-inner:before{content:'';display:table;clear:both;}
.mn-inner{height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;}
.mn-left-tab ul li a img{width:40px;margin-right:10px;display:block;}
.mn-left-tab ul li a i{display:inline-block;vertical-align:middle;}
.mn-left-tab ul li a span{font-weight:normal;display:contents;margin-right:3px;}
.mnr-wrap ul{padding:0;margin:0;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.mnr-wrap ul li{width:50%;display:block;}
.mnr-wrap ul li a:hover, .mn-left-tab ul li a:hover{color:#222;}
.mnr-wrap ul li a{color:#777;display:block;padding:25px 20px;text-decoration:none;}
.mnr-wrap ul li h3{margin:0 0 5px;font-size:16px;font-weight:600;}
.mnr-right p{font-size:12px;margin:0;}
.mnr-wrap ul li.active a{color:#fff;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 99%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.mnr-right{margin-left:40px;}
.mnr-icn{float:left;width:25px;height:20px;font-size:18px;line-height:1;}
.mnr-wrap{margin-left:22%;}
.container{width:auto;max-width:1400px;}
.mnr-left-img{position:absolute;top:0;left:0;bottom:0;width:22%;background-color:#eee;background-size:cover;background-repeat:no-repeat;}
.tab-content{position:relative;}
.event-bg{background-image:url(../images/eventab-bg.jpg);}

.mnr-wrap ul li:not(.active) .mnr-icn i {
    background: #01fad8;
    background: -moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);
    background: -webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);
    background: linear-gradient(to bottom, #01fad8 0%,#7404fe 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mnr-wrap ul li h3 span{font-weight:normal;}
body:not(.openmenu) .main-navigation, body:not(.opensettings) .profile-settings, .overlay{opacity:0;visibility:hidden;}
.openmenu .overlay, .opensettings .overlay{opacity:1;visibility:visible;}
.hrl-right h3 span{display:block;font-weight:normal;}
.hr-listing ul li a{text-decoration:none;display:block;color:#777;}
.profile-settings ul{padding:0;margin:0;}
.profile-settings ul li{display:block;}
.profile-settings ul li + li{border-top:1px solid #b8b8b8;}
.profile-settings ul li a{display:block;color:#777;font-weight:600;padding:13px 20px;text-decoration:none;white-space:nowrap;font-size:16px;position:relative;}
.profile-settings ul li a span{display:inline-block;vertical-align:middle;margin-left:15px;}
.profile-settings ul li a img{vertical-align:middle;display:inline-block;}
.opensettings .hdr-nav-head{margin-right:390px;}
.hdr-ac-right{position:relative;}
.opensettings .user-profile:after,.openmenu .hdr-nav-head .btn:after,.open-tick-set .ts-head span:after{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
.profile-settings ul li.active a:before{background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 99%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.profile-settings ul li a:before{content:'';position:absolute;top:-1px;left:-7px;bottom:-1px;width:7px;}
.close-button{position:fixed;top:5px;right:5px;width:30px;height:30px;z-index:5;cursor:pointer;}
.close-button:after,.close-button:before{content:'';position:absolute;top:14px;left:3px;right:3px;height:2px;background:#7109fd;}
.close-button:after{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.close-button:before{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.checkout-steps ul{padding:20px 0;margin:0;display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;}
.checkout-steps ul li{display:block;width:25%;text-align:center;position:relative;user-select:none;}
.checkout-steps ul li + li:before{content:'';top:0;left:-10px;bottom:0;width:14px;background:url(../images/right-color.png) center center no-repeat;position:absolute;}
.checkout-steps{padding-top:20px;}
.cs-single .cs-number, .cs-single p{display:inline-block;vertical-align:middle;margin:0;color:#d8d8d8;}
.cs-single .cs-number{margin-right:8px;}
.cs-number{font-size:18px;line-height:33px;position:relative;z-index:1;border-radius:50%;padding:1px;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.cs-number e{display:block;border-radius:50%;width:34px;height:34px;position:relative;background:#fff;}
.cs-head{text-align:center;}
.cs-single p span{font-weight:600;}
.checkout-steps ul li.done .cs-number e, .checkout-steps ul li.active .cs-number e{background:transparent;color:#fff;}
.checkout-steps ul li.active p{color:#000;}
.cs-head p{margin:0;padding:3px;font-size:12px;color:#fff;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.cs-head p span{font-weight:600;}
.create-event-left{background:#eee;padding:15px;border-right:15px solid #fff;}
.cel-inner{background:#fff;padding:5px;box-shadow:0 2px 9px rgba(0, 0, 0, 0.1);}
.cel-top{background:#3c14c3;color:#fff;}
.cel-head{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;align-items:center;padding:15px 20px;}
.cel-top .cel-left, .cel-top .cel-right{width:25%;}
.cel-top .cel-center{width:50%;text-align:center;}
.cel-right{text-align:right;position:relative;}
.cel-left ul{padding:0;margin:0;}
.cel-left ul li{display:inline-block;vertical-align:middle;font-size:20px;padding:10px;}
.cel-left ul li a{color:#fff;}
.cel-center h3{margin:0 0 5px;font-weight:600;font-size:20px;}
.cel-center p{margin:0;font-size:10px;letter-spacing:.5px;}
.cel-center p span{display:block;}
.create-event-right{border:1px solid #a5a5a5;padding:15px;color:#000;}
.cel-image{background:#bbcccc;}
.cel-img-filler{text-align:center;}
.cel-double{display:-webkit-box;display:-ms-flexbox;display:flex;}
.cel-double .cel-left{width:56%;}
.cel-double .cel-map{width:44%;}
.cel-map iframe{width:100%;margin:0;display:block;height:210px;}
.cel-single h3, .contact-us h4{font-size:19px;font-weight:600;color:#018878;line-height:1.4;margin:0 0 7px;}
.cel-double .cel-left{padding:35px 30px;}
.cel-double .cel-left p{margin:0;font-size:11px;line-height:1.7;}
.cel-single + .cel-single{border-top:1px solid #3c14c3;margin-top:20px;padding-top:20px;}
.buy-ticket-wrap h4,.cgr-single label{font-size:12px;font-weight:600;color:#018878;line-height:1.4;margin:0;}
.buy-ticket-wrap form{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;}
.btw-left{width:25%;}
.btw-right{width:75%;}
.buy-ticket-wrap input{width:100%;}
.buy-ticket-wrap .btw-left{padding-right:25px;}
.buy-ticket-wrap .btw-left input{border:1px solid #ddd;font-size:10px;padding:0 7px 2px;color:#bbb;outline:none;}
.btw-right ul{padding:0;margin:0;display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.btw-right ul li{display:block;padding:0 8px;}
.btw-right ul li input[type="date"]{}
.bt-button button{border:0;background:#3c14c3;color:#fff;width:100%;padding:7px;font-size:18px;font-weight:600;text-transform:capitalize;outline:navajowhite;}
.bt-button{margin-top:143px;}
.btw-right ul li input, .btw-right ul li select{border:0;border-bottom:2px solid #3c14c3;font-size:11px;padding-bottom:3px;background:#fff;width:100%;outline:none;color: #000;}
.cel-tickets{padding-left:30px;}
.date-li{width:13%;}
.time-li{width:20%;}
.type-li{width:20%;}
.quant-li{width:13%;}
.price-li{width:14%;}
.delete-li{width:8%;text-align:center;}
.total-li{width:12%;}
.delete-li button{border:0;border-bottom:2px solid #3c14c3;font-size:11px;padding-bottom:3px;background:#fff;outline:none;width:100%;color:#f66;}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width:100%;}
.bootstrap-select .btn{border:1px solid #ddd;font-size:11px;padding:1px 5px;background:#fff !important;width:100%;outline:none !important;border-radius:0;}
.quant-li .bootstrap-select{margin-top:3px;}
.quant-li .bootstrap-select .btn{border-bottom:2px solid #3c14c3 !important;position:relative;z-index:1;}
.bootstrap-select .btn .bs-caret{position:absolute;top:50%;right:3px;border:1px solid #018878;line-height:10px;padding:0 2px;border-radius:2px;margin-top:-6px;background:#fff;}
.bootstrap-select .btn .bs-caret .caret{position:static;border-top-color:#018878;border-right:3px solid transparent;border-left:3px solid transparent;}
.btw-right ul li li{padding:0;}
.bootstrap-select .dropdown-menu{padding:0;border-radius:0;margin:0;border-color:#ddd;}
.dropdown-backdrop{display:none;}
.body-wrap .container{max-width:1250px;padding:0;}
.cs-single p{font-size:13px;}
.create-event-right h1{font-weight:600;font-size:26px;margin:10px 0 20px;}
.create-event-right h1 span{font-weight:normal;}
.single-field label,.custom-check label input[type="checkbox"] ~ p,.double-fileds h3, .upload-img h3{display:block;font-size:15px;font-weight:600}
.upload-img h3{margin:0 0 10px;}
.ui-timepicker-wrapper {height: 153px;}
.single-field label span,.custom-check label input[type="checkbox"] ~ p span,.double-fileds h3 span, .upload-img h3 span{font-weight:normal;}
.single-field input, .single-field textarea,.single-sale-end input{width:100%;border:0;resize:none;display:block;padding:5px 0 8px;outline:none;font-size:13px;font-weight: 600;}
.single-field:after, .single-sale-end:after,
.ui-timepicker-wrapper:after {content:'';position:absolute;bottom:0;left:0;right:0;height:3px;background:#01fad8;background:-moz-linear-gradient(left, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(left, #01fad8 0%,#7404fe 100%);background:linear-gradient(to right, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=1 );}
.single-field, .single-sale-end{position:relative;}
.single-field + .single-field, .single-field + .double-fileds, .double-fileds + .double-fileds, .double-fileds + .single-field{margin-top:20px;}
.single-field textarea{border:1px solid #eee;padding:5px 8px;}
.double-fileds .single-field,.double-head .single-head{padding:0 7px;width:50%;}
.df-inner, .double-head{display:-webkit-box;display:-ms-flexbox;display:flex;margin:0 -7px;}
.double-fileds .single-field:after{left:7px;right:7px;}
.double-fileds .single-field + .single-field{margin:0;}
.upload-img:after{display:none;}
.custom-check label{position:relative;margin:0;vertical-align:middle;cursor:pointer;}
.custom-check label input[type="checkbox"]{border:0;position:absolute;top:0;left:0;opacity:0;visibility:hidden;}
.custom-check label input[type="checkbox"] ~ p{position:relative;padding-left:25px;margin:0;user-select:none;}
.custom-check{margin-top:20px;}
.custom-check label input[type="checkbox"] ~ p:before,.custom-check label input[type="checkbox"] ~ p:after{position:absolute;}
.custom-check label input[type="checkbox"] ~ p:before{content:'';top:3px;left:0;width: 16px;height:16px;border-radius:3px;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.custom-check label input[type="checkbox"] ~ p:after{content:'\2713';background:#fff;top:5px;left:2px;width:12px;height:12px;line-height:14px;font-weight:bold;text-align:center;font-size:0;color:#3c14c3;}
.custom-check label input[type="checkbox"]:checked ~ p:after{font-size:12px;}
.single-button + .single-button{margin-top:15px;}
.filled-btn button{border:0;color:#fff;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.bottom-buttons button{width:100%;font-size:15px;padding:8px;text-transform:capitalize;outline:none;}
.bottom-buttons button + button{}
.bootstrap-select li a{padding:0px 7px;outline:none !important;}
.outlined-btn button{background:#fff;border:1px solid #666;}
.outlined-btn button:hover{background:#eee;}
.filled-btn button:hover{opacity:.9;}
.file-upload,.choose-ticket-type{margin-bottom:20px;}
.file-upload, .choose-ticket {
    padding: 2px;
    background: #01fad8;
    background: -moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);
    background: -webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);
    background: linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );
}
.public-private .single-field:after{display:none;}
.when-occur{margin-top:20px;}
.public-private .custom-check{margin:0;}
.public-private .custom-check + .custom-check{margin-top:5px;}
#image-preview, .upload-documents{width:100%;height:150px;position:relative;overflow:hidden;color:#ecf0f1;background-color:#fff;cursor:pointer;z-index:0;}
.file-upload input{position:absolute;opacity:0;z-index:10;top:0;left:0;height:100%;width:100%;background-color:#fff;cursor:pointer;}
.choose-ticket{height:100px;}
.file-upload label{position:absolute;z-index:5;background-color:#fff;font-size:13px;color:#000;top:0;left:0;right:0;bottom:0;margin:auto;text-align:center;line-height:25px;padding:43px 10px;cursor:pointer;}
.type-ticket{position:absolute;z-index:5;background-color:#fff;font-size:13px;color:#000;top:0;left:0;right:0;bottom:0;margin:auto;text-align:center;line-height:25px;padding:20px 10px;cursor:pointer;}
.file-upload label .fas{font-size:42px;color:#ccc;}
.choose-ticket label .fas{font-size:32px;color:#ccc;}
.choose-ticket input[type="radio"]{position:absolute;top:0;left:0;opacity:0;visibility:hidden;}
.file-upload label span span, .type-ticket span span{display:block;font-weight:600;}
.file-upload label span span i, .type-ticket span span i{font-style:normal;font-weight:normal;}
.file-upload label:after, .type-ticket:after{content:'';position:absolute;top:7px;left:7px;bottom:7px;right:7px;border:1px dashed #ccc;}
#image-preview.image-added label{top:inherit;padding:0 7px;left:inherit;right:4px;bottom:3px;background:rgba(255, 255, 255, 0.9);font-size:10px;border-radius:3px;}
#image-preview.image-added label:after{display:none;}
.cel-img-filler img{max-width:100%;}
.website-preview p{font-size:10px;margin:0;font-weight:600;color:#bbb;}
.website-preview p span{font-weight:normal;}
.website-preview{padding-bottom:7px;text-align:center;}
.preLoader{position:fixed;top:0;left:0;bottom:0;right:0;background:#fff;z-index:999;}
.preLoader:before{content:'';position:absolute;top:30%;left:50%;width:200px;height:80px;padding-top:70px;text-align:center;font-size:13px;font-weight:300;font-style:italic;color:#bbb;letter-spacing:.5px;margin-left:-100px;background:url(../images/preloader.png) center 4px no-repeat;}
.bootstrap-select .dropdown-menu>li.selected>a:before{content:'';position:absolute;top:0;left:0;bottom:0;width:4px;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.bootstrap-select .dropdown-menu>li>a{position:relative;padding-left:15px;}
.bootstrap-select .dropdown-menu>li + li{border-top:1px solid #ddd;}
.bootstrap-select .dropdown-menu>li.selected>a span{font-weight:600;color:#000;}
.pi-title{background:#9585e0;color:#fff;font-size:8px;line-height:1.4;padding:7px 20px;text-transform:uppercase;letter-spacing:.5px;}
.pi-title p{margin:0;}
.event-image-gallery .owl-nav button{position:absolute;top:50%;width:30px;height:25px;margin-top:-30px;outline:none !important;}
.event-image-gallery .owl-nav button.owl-prev{left:0;box-shadow:7px 0 7px rgba(0,0,0,.05);}
.event-image-gallery .owl-nav button.owl-next{right:0;box-shadow:-7px 0 7px rgba(0,0,0,.05);}
.event-image-gallery .owl-nav button span{display:block;width:30px;background:#fff;line-height:31px;border-radius:3px;color:#2d9cfb;font-size:9px;}
.event-image-gallery .owl-nav button:hover span{}
.ClassyCountdown-wrapper > div{display:inline-block;position:relative;margin:10px 4% 30px;}
.ClassyCountdown-wrapper .ClassyCountdown-value{width:100%;line-height:1em;text-align:center;left:0;display:block;}
.count-down{background:#e4e4e4;margin-left:-30px;text-align:center;padding:10px 10px;}
.ClassyCountdown-wrapper > div > div{display:inline-block !important;vertical-align:middle;}
.ClassyCountdown-wrapper canvas{background:#fff;border-radius:50%;}
.ClassyCountdown-wrapper > div{width:100px;height:100px;}
.ClassyCountdown-wrapper .ClassyCountdown-value{color:#058a7a !important;position:absolute;margin-top:0 !important;top:0;bottom:0}
.ClassyCountdown-wrapper .ClassyCountdown-value div{font-size:25px;padding-top:32px;font-weight:normal;}
.ClassyCountdown-wrapper .ClassyCountdown-value span{font-size:11px !important;margin-top:25px;display:block;font-weight:normal;}
.count-down h4{font-size:16px;color:#058a7a;font-weight:600;margin:5px 0 15px;}
.contact-grid{display:-webkit-box;display:-ms-flexbox;display:flex;padding:10px 0 20px;}
.cg-left{width:25%;}
.cg-right{width:75%;}
.cg-right form{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;}
.cgr-left{width:52%;padding-right:50px;}
.cgr-right{width:48%;}
.cgr-single label{display:block;margin:0;}
.cgr-single input,.cgr-single textarea{width:100%;background:#fff;border:0;border-bottom:2px solid #3c14c3;padding:0 0 2px;outline:none;font-size:12px;}
.cgr-single textarea{border:1px solid #eee;border-bottom:2px solid #3c14c3 !important;resize:none;font-size:12px;padding:6px;}
.cgr-single button{border:0;background:#3c14c3;color:#fff;width:100%;padding:7px;font-size:13px;text-transform:capitalize;margin-top:22px;outline:none;}
.cgr-left .cgr-single + .cgr-single{margin-top:12px;}
.cg-left p{margin:0;font-size:11px;color:#bbb;}
.cg-left .cgl-logo{margin-bottom:15px;max-width:75px;}
.cg-left .cgl-logo img{max-width:100%;}
.cg-left p span{display:block;}
.cg-left p a{display:table;color:#bbb;}
.contact-us{padding-left:30px;}
.create-events-wrap{padding-bottom:30px;}
.event-image-gallery{margin-left:-30px;}
.ui-datepicker .ui-datepicker-title{color:#222;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{background:#fff;color:#222;font-weight:600;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{color:#fff;text-align:center;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.ui-datepicker td{font-size:15px;border:2px solid #f5f5f5;background:#9a9a9a;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{}
.ui-datepicker thead th span{color:#222;font-size:11px;font-weight:600;}
.btw-left .ui-timepicker-wrapper{width:156px;}
.ui-datepicker td{padding:0;}
.btw-left .ui-datepicker td{padding:0px;border:1px solid #e0e0e0;background:#c7c7c7;font-size:10px;}
table.ui-datepicker-calendar{margin:0;border:1px solid #e0e0e0;border-top:0;}
table.ui-datepicker-calendar thead td span{font-size:10px;}
.btw-left .ui-state-default, .btw-left .ui-widget-content .ui-state-default, .btw-left .ui-widget-header .ui-state-default, .btw-left .ui-button, html .btw-left .ui-button.ui-state-disabled:hover, html .btw-left .ui-button.ui-state-disabled:active{border:0;background:#f2f2f2;text-align:center;line-height:1.9;position:relative;}
.ui-widget.ui-widget-content{padding:0;max-width:100%;border-radius:0;border:0;}
.ui-datepicker .ui-datepicker-header{padding:0;background:#fff;border:1px solid #e0e0e0;border-bottom:0;border-radius:0;}
.ui-datepicker thead th span{font-size:10px;color:#222;font-weight:600;}
.ui-datepicker thead th{padding:5px 0;}
.btw-left .hasDatepicker{margin-top:2px;}
.ui-datepicker td.ui-datepicker-current-day.ui-datepicker-today{}
.btw-left .ui-state-highlight:before, .btw-left .ui-widget-content .ui-state-highlight:before, .btw-left .ui-widget-header .ui-state-highlight:before{content:'';position:absolute;top:0;left:0;bottom:0;right:0;border:1px solid #5431c7;}
.btw-left .ui-state-active, .btw-left .ui-widget-content .ui-state-active, .btw-left .ui-widget-header .ui-state-active, .btw-left a.ui-button:active, .btw-left .ui-button:active, .btw-left .ui-button.ui-state-active:hover{background:#fff;color:#3c14c3;font-weight:bold;}
.btw-left .ui-state-highlight, .btw-left .ui-widget-content .ui-state-highlight, .btw-left .ui-widget-header .ui-state-highlight{background-color:#d4cfe2;color:#5431c7;font-weight:600;}
.btw-left .ui-datepicker .ui-datepicker-title{color:#3c14c3;font-size:11px;padding:6px 0 1px;}
.ui-datepicker .ui-datepicker-prev span:before{content:'\f359';}
.ui-datepicker .ui-datepicker-next span:before{content:'\f35a';}
.ui-datepicker .ui-datepicker-prev span:before, .ui-datepicker .ui-datepicker-next span:before{font-family:"Font Awesome 5 Free";text-indent:0;font-size:22px;line-height:1;font-weight:400;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:block;font-style:normal;font-variant:normal;text-rendering:auto;}
.event-body .btw-left .ui-datepicker .ui-datepicker-prev span:before, .event-body .btw-left .ui-datepicker .ui-datepicker-next span:before{font-size:25px;padding:2px 0;}
.btw-left .ui-datepicker .ui-datepicker-prev, .btw-left .ui-datepicker .ui-datepicker-next{color:#018878;padding:0;border:0;cursor:pointer;top:4px;text-decoration:none;}
.btw-left .ui-datepicker .ui-datepicker-prev span, .btw-left .ui-datepicker .ui-datepicker-next span{color:#018878;-webkit-text-fill-color:inherit;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{position:static;margin:0;height:100%;width:auto;background:#fff;padding:3px 0;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 99%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{max-width: 25px;border: 0;margin:0;padding:0;outline:none;font-weight:normal;-moz-appearance: none;-webkit-appearance: none;}
.ui-datepicker select.ui-datepicker-month::-ms-expand, 
.ui-datepicker select.ui-datepicker-year::-ms-expand {display: none;}
.ui-widget.ui-widget-content{margin-top:2px;}
.when-occur .bootstrap-select .btn{margin-bottom:3px;border-bottom:0;}
.when-occur .bootstrap-select .dropdown-menu>li>a{padding:3px 0 3px 12px;font-size:13px;}
.bootstrap-select.dropup .dropdown-menu{-webkit-box-shadow:0 -6px 12px rgba(0,0,0,.175);box-shadow:0 -6px 12px rgba(0,0,0,.175);}
.bootstrap-select.dropup .btn .bs-caret .caret{border-bottom-color:#018878;margin-top:-3px;}
.mulitple-events .single-field label{display:block;margin-bottom:3px;}
.double-head .single-head label input[type="checkbox"] ~ p{padding-left: 21px;font-size: 11px;line-height:1.1;font-weight:normal;}
.single-head .custom-check label input[type="checkbox"] ~ p:before{/* width:12px; *//* height:12px; *//* border-radius:0; */top: -2px;}
.single-head .custom-check label input[type="checkbox"] ~ p:after{/* width: 8px; *//* height: 8px; */top: 0px;/* left: 2px; *//* border-radius:0; */}
.single-head .custom-check label input[type="checkbox"]:checked ~ p:after{font-size: 11px;line-height: 12px;}
.double-head{margin-bottom:15px;}
.single-head .custom-check{margin:0;}
.double-head .single-head label input[type="checkbox"]:checked ~ p{font-weight:600;letter-spacing: -.2px;}
.bootstrap-select.show-tick .dropdown-menu li a span.text{margin:0 0 0 15px;display:block;}
.bootstrap-select.show-tick .dropdown-menu>li.selected>a:before{display:none;}
.bootstrap-select.show-tick .dropdown-menu li a span.check-mark{display:block;position:absolute;top:4px;left:8px;text-align:center;width:12px;height:12px;border-radius:0;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.bootstrap-select .dropdown-menu li a span.check-mark:before{content:'\2713';background:#fff;position:absolute;top:1px;left:1px;width:10px;height:10px;line-height:11px;font-weight:bold;text-align:center;font-size:0;color:#3c14c3;}
.bootstrap-select .dropdown-menu>li.selected>a span{}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark{top:4px;}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark:before{font-size:9px;}
.bootstrap-select .dropdown-toggle .filter-option{text-overflow:ellipsis;overflow:hidden;font-weight: 600;}
.single-date{padding:3px 4px;color:#fff;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.sd-inner{display:-webkit-box;display:-ms-flexbox;display:flex;position:relative;align-items:center;}
.sd-left{width:15%;text-align:center;}
.sd-right{width:25%;white-space:nowrap;text-align:right;}
.sd-center{width:60%;padding:3px 0 3px 7px;border-left:1px solid #fff;}
.sd-center h3{font-size:13px;margin:0;line-height:1.35;}
.sd-center h3 span{display:block;}
.btwr-inner{padding-top:15px;margin:0 -7px;}
.sd-center p{font-size:9px;margin:3px 0 0;}
.sd-right i{font-size:12px;vertical-align:middle;padding:2px 3px;cursor:pointer;}
.sd-left h4{margin:0;font-size:24px;font-weight:normal;}
.sd-left span{font-weight:600;line-height:1;}
.add-dates{margin:20px 0;}
.single-date + .single-date{margin:20px 0;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{line-height:1.9;border:0;text-align:center;}
.btw-left .ui-datepicker thead th span{color:#bbb;font-size:10px;font-weight:normal;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{background:#dbdbdb;}
.add-to-cal span{padding:1px 8px 2px;background:#fff;color:#a0a0a0;font-size:8px;border:1px solid #3094e7;font-weight:600;user-select:none;display:inline-block;vertical-align:middle;}
.add-to-cal span i{margin-left:3px;}
.add-to-cal{padding:5px 0 4px;}
.create-event-right .bootstrap-select .btn .bs-caret{border:0;color:#fff;width: 16px;height: 16px;right:5px;margin-top: -7px;z-index:0;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.create-event-right .bootstrap-select .btn .bs-caret:after{content:'';position:absolute;top: 2px;left: 2px;bottom: 2px;right: 2px;background:#fff;z-index:0;}
.create-event-right .bootstrap-select .btn{padding:5px 10px;}
.create-event-right .bootstrap-select .btn .bs-caret .caret{border-top-color:#3c7aeb;z-index:4;position:relative;top: 3px;left: -2px;border-right: 4px solid transparent;border-left: 4px solid transparent;}
.sa-inner{display:table;width:100%;background:#fff;align-items:center;font-size:13px;}
.single-attachment p{margin:0;font-weight:600;line-height:1.3;}
.sa-left{width:60%;padding:10px;}
.sa-center{width:25%;border-left:1px solid #ccc;border-right:1px solid #ccc;text-align:center;}
.sa-right{width:15%;text-align:center;white-space:nowrap;padding:0 10px;}
.single-attachment{padding:2px;user-select:none;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.attacments{margin:20px 0;}
.sa-left,.sa-center,.sa-right{display:table-cell;vertical-align:middle;}
.single-attachment p span{display:block;font-size:11px;color:#999;font-weight:normal;}
.single-attachment p i{font-style:normal;font-size:85%;}
.sa-right i{padding:3px;cursor:pointer;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 99%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.sa-center + .sa-center{border-left:0;}
.choose-ticket-type:after{display:none;}
.choose-ticket label{display:block;margin:0;height:100%;position:relative;}
.choose-ticket input[type="radio"]:checked ~ .type-ticket{background:transparent;color:#fff;}
.choose-ticket input[type="radio"]:checked ~ .type-ticket .fas{color:#fff;}
.choose-ticket input[type="radio"]:checked ~ .type-ticket:after{border-color:#fff;}
.apply-fee-btn label input[type="checkbox"]{position:absolute;top:0;left:0;opacity:0;visibility:hidden;}
.apply-fee-btn label{position:relative;vertical-align:middle;margin:0;font-weight:normal;}
.apply-fee-btn label input[type="checkbox"] ~ .afb-wrap{display:inline-block;white-space:nowrap;user-select:none;cursor:pointer;}
.apply-fee-btn label input[type="checkbox"] ~ .afb-wrap > span{display:inline-block;vertical-align:middle;color:#ccc;}
.apply-fee-btn label input[type="checkbox"] ~ .afb-wrap .afb-toggle{width:27px;background:#ccc;height:15px;border-radius:25px;position:relative;}
.apply-fee-btn label input[type="checkbox"] ~ .afb-wrap .afb-toggle:after{content:'';position:absolute;top:0;left:12px;width:15px;height:15px;background:#777;border-radius:50%;border:1px solid #fff;}
.apply-fee-btn label input[type="checkbox"]:checked ~ .afb-wrap .afb-toggle{background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.apply-fee-btn label input[type="checkbox"]:checked ~ .afb-wrap .afb-toggle:after{background:#000;left:0;}
.apply-fee-btn label input[type="checkbox"] ~ .afb-wrap .afb-toggle,.apply-fee-btn label input[type="checkbox"] ~ .afb-wrap .afb-toggle:after{transition:all 300ms;}
.apply-fee-btn label input[type="checkbox"]:checked ~ .afb-wrap > span{color:#222;}
.ts-head{text-align:center;padding:10px 20px;cursor:pointer;user-select:none;}
.ticket-setting{margin:20px 0;padding:2px;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.ts-inner{background:#fff;}
.ts-content{padding:0 10px;display:none;}
.ts-head span strong{margin-right:5px;}
.ts-head .fa-cog{color:#ccc;margin-right:5px;vertical-align:middle;}
.ts-head span{position:relative;display:inline-block;vertical-align:middle;padding-right:30px;height:20px;}
.ts-head span:after{content:'';width:30px;height:15px;background:url(../images/drop-color.png) center center no-repeat;background-size:17px auto;vertical-align:middle;position:absolute;top:50%;margin-top:-8px;right:0;}
.single-sale{width:50%;padding:0 7px;}
.single-sale label{display:block;margin:0;}
.single-sale-end .bootstrap-select{margin-bottom:3px;}
.df-inner + .df-inner{margin-top:15px;}
.before-event p{margin:0;text-align:right;font-size:13px;padding:5px 0;}
.ts-content .apply-fee-btn{margin:15px 0;}
.single-sale h3{margin:0 0 2px;}
.attacments .bottom-buttons{margin-top:20px;}
.cell-event-bottom{padding:3px 0;background:#3c14c3;color:#fff;}
.ceb-inner, .ceb-right .cebl-inner{display:-webkit-box;display:-ms-flexbox;display:flex;align-items:center;}
.ceb-left{width:13%;padding:12px;text-align:center;position:relative;}
.ceb-right{width:87%;border-left:1px solid #fff;padding-left:10px;}
.ceb-left h1{margin:0;font-weight:600;line-height:1.25;}
.ceb-left h1 span{display:block;font-size:18px;font-weight:normal;}
.ceb-right ul{display:block;}
.cebr-left h2{margin:0 0 7px;font-size:22px;font-weight:600;}
.ceb-right ul li{font-size:11px;position:relative;padding:0 0 0 20px;}
.ceb-right ul li + li{margin-top:3px;}
.ceb-right ul li i{position:absolute;top:3px;left:0;width:13px;text-align:center;font-size:10px;}
.cebr-left{width:60%;padding-right:15px;}
.cebr-right{width:40%;text-align:right;display:-webkit-box;display:-ms-flexbox;display:flex;}
.event-body{max-width:1130px;margin:0 auto;padding:40px 0;}
.event-details h4{font-size:20px;color:#3c14c3;}
.event-details{background:#f9f9f9;padding:15px;}
.event-details p{font-size:13px;line-height:1.65;letter-spacing:.5px;margin:0;}
.cebr-right .btn{border-radius:0;width:110px;font-weight:600;font-size:13px;height:50px;display:-webkit-box;display:-ms-flexbox;display:flex;align-items:center;text-align:center;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.cebr-right .btn-minfo{background:#ccc;color:#3c14c3;}
.cebr-right .btn-register{background:#008878;color:#fff;margin-left:10px;text-transform:uppercase;font-size:12px;line-height:1.3;}
.cebr-right .btn span{display:block;width:100%;white-space:normal;}
.banner-text{position:absolute;bottom:0;left:0;right:0;background:rgba(0, 128, 120, 0.3);color:#fff;overflow:hidden;z-index:0;}
.top-banner{position:relative;overflow:hidden;}
.banner-text p{margin:0;font-size:40px;text-align:center;padding:20px;position:relative;z-index:1;}
.top-banner img{width:100%;}
.banner-text:before{content:'';background:url(../images/our-event.jpg) no-repeat center bottom;background-size:cover;overflow:hidden;filter:blur(13px);position:absolute;height:300px;top:-50px;left:-50px;right:-50px;bottom:-50px;opacity:.5;}
.event-body .btw-left .ui-datepicker td{font-size:18px;overflow:hidden;border-width:2px;}
.event-body .btw-left{width:35%;padding-right:40px;}
.event-body .btw-right{width:65%;}
.event-body .btw-left .ui-datepicker{width:100%;}
.event-body .btw-left .ui-datepicker td a{color:#888;}
.event-body .btw-left .ui-datepicker thead th span{font-size:13px;color:#777;}
.event-body .btw-left .ui-datepicker .ui-datepicker-title{font-size:19px;font-weight:600;}
.event-body .btw-left .ui-datepicker .ui-datepicker-prev,.event-body .btw-left .ui-datepicker .ui-datepicker-next{width:2.5em;height:2.5em;}
.event-body .btw-left .ui-datepicker .ui-datepicker-prev span, .event-body .btw-left .ui-datepicker .ui-datepicker-next span{}
.btw-left .ui-datepicker .ui-datepicker-prev span:before, .btw-left .ui-datepicker .ui-datepicker-next span:before{font-size:14px;}
.buy-ticket-wrap .btw-left input{font-size:14px;padding:6px 12px 6px;border:2px solid #ddd;}
.event-body table.ui-datepicker-calendar{border-width:2px;}
.event-body .ui-datepicker .ui-datepicker-header{border-width:2px;}
.event-body .btw-left h4{font-size:24px;margin-bottom:30px;}
.event-body .btw-left .ui-state-active, .event-body .btw-left .ui-widget-content .ui-state-active, .event-body .btw-left .ui-widget-header .ui-state-active, .event-body .btw-left a.ui-button:active, .event-body .btw-left .ui-button:active, .event-body .btw-left .ui-button.ui-state-active:hover{color:#3c14c3;}
.event-body .btw-right .btwr-inner{margin:0;}
.single-event + .single-event{margin-top:15px;padding-top:15px;border-top:1px solid #3c14c3;}
.ceb-left:before{content:"\f073";position:absolute;top:0;left:0;bottom:0;right:0;font-size:65px;opacity:.1;padding:13px 0;font-family:"Font Awesome 5 Free";font-weight:900;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;z-index:0;}
.ceb-left .cebl-inner{position:relative;z-index:1;}
.create-events-full .create-event-left{width:100%;background:#fff;}
.create-events-full .create-event-left{padding:0;}
.create-events-full .create-event-left .cel-inner{padding:0;box-shadow:none;}
.create-events-full .cel-single{overflow:hidden;}
.create-events-full{padding:30px 0 50px;}
.create-events-full .cel-single h3, .create-events-full .contact-us h4{font-size:26px;}
.create-events-full .cel-map iframe{height:280px;}
.create-events-full .cel-double .cel-left p{font-size:13px;}
.create-events-full .buy-ticket-wrap h4, .create-events-full .cgr-single label{font-size:15px;}
.create-events-full .btw-right ul li input, .create-events-full .btw-right ul li select{font-size:15px;}
.create-events-full .ui-widget.ui-widget-content{width:100%;}
.create-events-full .btw-left .ui-datepicker td{font-size:12px;}
.create-events-full .btw-left .ui-datepicker .ui-datepicker-title{font-size:14px;}
.create-events-full .bt-button button{font-size:20px;padding:13px;}
.create-events-full .bt-button{margin-top:165px;}
.create-events-full .bootstrap-select .btn{font-size:14px;}
.create-events-full .delete-li button{font-size:15px;}
.create-events-full .pi-title{font-size:11px;padding:7px 25px;line-height:1.6;}
.create-events-full .event-image-gallery .owl-nav button span{line-height:30px;font-size:12px;}
.create-events-full .ClassyCountdown-wrapper > div{width:130px;}
.create-events-full .count-down h4{font-size:21px;}
.create-events-full .ClassyCountdown-wrapper .ClassyCountdown-value div{font-size:34px;padding-top:35px;}
.create-events-full .ClassyCountdown-wrapper .ClassyCountdown-value span{font-size:16px !important;position:absolute;bottom:-40px;left:0;right:0}
.create-events-full .cg-left .cgl-logo{max-width:115px;}
.create-events-full .cg-left p{font-size:15px;}
.create-events-full .cgr-single button{font-size:16px;padding:9px;}
.create-events-full .cel-center h3{font-size:26px;}
.create-events-full .cel-center p{font-size:13px;}
.create-events-full .cel-left ul li{font-size:23px;}
.location-wrap{position:absolute;left:0;bottom:0;right:0;background:rgba(171, 171, 171, 0.95);padding:10px 15px;text-align:left;color:#fff;font-size:12px;}
.location-wrap:after,.location-wrap:before{content:'';display:table;clear:both;}
.location-wrap dt{float:left;width:70px;}
.location-wrap dd{margin-left:70px;}
.location-wrap dd span{display:block;font-size:10px;}
.create-events-full .location-wrap{font-size:14px;}
.create-events-full .location-wrap dt{width:80px;}
.create-events-full .location-wrap dd{margin-left:80px;}
.create-events-full .location-wrap dd span{font-size:13px;}
.modal-content{border-radius:0;border:0;box-shadow:none;}
.modal-header{border:0;padding:25px 25px 5px;}
.modal-title.name-event{text-align:center;font-weight:600;font-size:22px;color:#3c14c3;padding:20px 0 0;}
.modal-title.name-event span{color:#999;font-weight:normal;font-size:12px;display:block;line-height:1;}
.lot-single ul{padding:0;margin:0 -7px;display:-webkit-box;display:-ms-flexbox;display:flex;}
.lot-single > ul > li{display:block;padding:0 7px;}
.ls-image{width:14%;}
.ls-type{width:33%;}
.ls-price{width:11%;}
.ls-date{width:16%;}
.ls-delete{text-align:center;}
.ls-single h4{font-size:17px;}
.ls-single h3{font-size:17px;border-bottom:1px solid #3c14c3;padding-bottom:5px;margin:0 0 12px;}
.ls-single p{margin:0;font-size:11px;opacity:.8;line-height:1.55;}
.ls-type h3{font-weight:600;}
.lss-img{height:100px;background:#bbcccc;border:1px solid #3c14c3;}
.ls-single h5{margin:0;font-weight:600;font-size:17px;}
.ls-single h6{margin:5px 0 0;line-height:1.4;}
.ls-single h6 span{display:block;}
.ls-single .bootstrap-select .btn{font-size:16px;font-weight:600;border-bottom:3px solid #3c14c3;}
.ls-single i{font-size:17px;color:#f88;padding:5px;cursor:pointer;margin-top:25px;}
.lot-single > ul > li.ls-delete{padding:0;}
.lot-single{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #e5e5e5;}
.modal-body{padding:25px;}
.modal-footer{padding:10px 25px 45px;border:0;}
.modal-footer .btn{border-radius:0;font-size:19px;padding:11px 40px;border:0;letter-spacing:.5px;outline:none !important;}
.modal-footer .btn.btn-default{background:#999;color:#fff;font-weight:normal;}
.modal-footer .btn.btn-primary{background:#3c14c3;font-weight:600;min-width:300px;}
.modal-footer .btn.btn-default:hover{background:#b0b0b0;}
.modal-footer .btn.btn-primary:hover, .oh-buttons a:hover, .bt-button button:hover, .cgr-single button:hover{background:#5428ea;}
.modal-lg{width:auto;max-width:930px;padding:0 30px;}
.dbt-head{display:-webkit-box;display:-ms-flexbox;display:flex;}
.dbt-left,.bdt-right{width:50%;}
.bdt-right img{width:100%;}
.dbt-left .modal-title.name-event{text-align:left;padding-top:0;}
.dbt-left .modal-title.name-event span{line-height:1.5;font-size:13px;}
.ticket-pricing .table-responsive{border:1px solid #3c14c3;font-size:17px;}
.ticket-pricing .table>thead>tr>th,.ticket-pricing .table>tbody>tr>td{border:0;}
.ticket-pricing .table>thead>tr>th{color:#3c14c3;font-weight:normal;}
.ticket-pricing .table>tbody>tr>td{font-weight:600;padding:12px 10px;}
.ticket-pricing .table>tbody>tr>td span{display:block;font-size:12px;font-weight:normal;}
.ticket-pricing .table>tfoot>tr>td,.ticket-pricing .table>tfoot>tr>th{border:0;padding:17px 10px;}
.ticket-pricing .table>tfoot>tr>td{background:#eee;}
.ticket-pricing .table>tfoot>tr>th{background:#ddd;color:#222;}
.subtotal-foot{position:relative;text-align:right;padding-left:150px;}
.subtotal-foot p{margin:0;}
.ticket-pricing .table-responsive .table{margin:0;}
.subtotal-foot p span{position:absolute;top:3px;left:0;font-size:10px;color:#999;}
.ticket-pricing .table>thead>tr>th p{margin:5px 0 0;border-bottom:1px solid;padding-bottom:2px;}
.bd-inner{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0 -10px;}
.bd-single{width:50%;padding:10px;}
.bds-field input{width:100%;border:0;padding:3px 0 5px;outline:none;color:#222;}
.bds-field{border-bottom:3px solid #3c14c3;}
.bd-single label{display:block;color:#018878;font-size:15px;font-weight:600;}
.req-star{color:#f33;}
.bootstrap-select .dropdown-menu{padding-bottom:4px;}
.bootstrap-select .dropdown-menu:after{content:'';position:absolute;bottom:0px;left:0;right:0;height:3px;background:#01fad8;background:-moz-linear-gradient(left, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(left, #01fad8 0%,#7404fe 100%);background:linear-gradient(to right, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=1 );}
.sign-in-ac .sgn-btn{text-decoration:underline;color:#018878;display:inline-block;padding:5px 10px;font-size:13px;}
.sign-in-ac{text-align:center;padding:15px 0 10px;}
.bds-field .bootstrap-select .btn{font-size:15px;}
.single-check label{margin:0;display:inline-block;position:relative;font-weight:600;vertical-align:middle;cursor:pointer;user-select:none;}
.single-check label input[type="checkbox"]{position:absolute;top:0;left:0;opacity:0;visibility:hidden;}
.single-check label input[type="checkbox"] + p{margin:0;font-size:15px;color:#018878;padding:2px 0 2px 30px;}
.single-check label input[type="checkbox"] + p a{color:#018878;text-decoration:underline;}
.single-check label input[type="checkbox"] + p:before{content:'\f00c';top:5px;left:0;width:16px;position:absolute;height:16px;border:2px solid;border-radius:3px;font-family:"Font Awesome 5 Free";font-weight:900;font-size:0;text-align:center;line-height:1.45;}
.single-check{padding:7px 0;}
.bottom-checkboxes{padding-top:10px;}
.single-check label input[type="checkbox"]:checked + p:before{font-size:9px;}
.modal-opens{overflow:hidden;}
.modal-opens .modal{overflow-x:hidden;overflow-y:auto;}
.order-history{text-align:center;}
.order-history h3{margin:0 0 25px;font-size:24px;font-weight:600;color:#018878;}
.order-history h3 span{display:block;font-weight:normal;font-size:20px;margin-top:5px;}
.oh-buttons a{display:block;padding:10px;color:#fff;background:#3c14c3;max-width:310px;margin:20px auto;font-weight:600;font-size:20px;text-decoration:none;}
.order-history ul{padding:0;margin:0;}
.order-history ul li{display:inline-block;vertical-align:middle;padding:8px;}
.order-history ul li a{font-size:22px;color:#018878;text-decoration:none;}
.order-history ul li a:hover{color:#005d52;}
#order-complete .modal-footer{padding:0 20px 40px;text-align:center;}
#order-complete .modal-title.name-event span{line-height:1.6;}
.e-ticket{width:750px;margin:20px auto;border:1px solid #3c14c3;overflow:hidden;}
.img-barcode{display:-webkit-box;display:-ms-flexbox;display:flex;}
.e-ticket .barcode{width:25%;background:#fff;}
.e-ticket .cel-img-filler{width:75%;}
.cebr-right h2{margin:0;text-align:left;width:100%;padding-left:20%;font-weight:600;}
.cebr-right h2 span{font-size:14px;display:block;font-weight:normal;}
.e-ticket .ceb-right ul{padding:0;margin:0;}
.e-ticket .ceb-right ul li{display:block;}
.e-ticket-pricing.ticket-pricing .table>thead>tr>th{font-size:12px;}
.e-ticket-pricing.ticket-pricing .table-responsive{border:0;}
.e-ticket-pricing > p{padding:15px 10px 5px;margin:0;font-size:12px;}
.barcode img{max-width:100%;}
.file-upload iframe{width:100%;height:190px;display:block;}
.event-online{padding:20px 0;}
li.ui-timepicker-selected {font-weight: 600;}
li.ui-timepicker-selected, 
.ui-timepicker-list li:hover, 
.ui-timepicker-list .ui-timepicker-selected:hover { background: #f5f5f5; color: #222;}
.ui-timepicker-wrapper .ui-timepicker-list {max-height: 100%;overflow: auto;}
.ui-timepicker-list li {padding: 2px 0 2px 15px;position: relative;}
.ui-timepicker-list li.ui-timepicker-selected:before {opacity: 1;visibility: visible;}
.ui-timepicker-list li + li {border-top: 1px solid #ddd;}
.ui-timepicker-wrapper {min-width: 120px;overflow: hidden;}
.ui-timepicker-list li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    width: 4px;
    background: #01fad8;
    background: -moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);
    background: -webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);
    background: linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );
}



/* 10-04-2019 start */
.custom-check input[type="checkbox"] ~ label {display:block;font-size:15px;font-weight:600}
.custom-check input[type="checkbox"] ~ label span {font-weight:normal;}
.custom-check input[type="checkbox"]{border:0;position:absolute;top:0;left:0;opacity:0;visibility:hidden;}
.custom-check input[type="checkbox"] ~ label{position:relative;padding-left:25px;margin:0;user-select:none;}
.custom-check input[type="checkbox"] ~ label:before,.custom-check input[type="checkbox"] ~ label:after{position:absolute;}
.custom-check input[type="checkbox"] ~ label:before{content:'';top:3px;left:0;width: 16px;height:16px;border-radius:3px;background:#01fad8;background:-moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);background:-webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);background:linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );}
.custom-check input[type="checkbox"] ~ label:after{content:'\2713';background:#fff;top:5px;left:2px;width:12px;height:12px;line-height:14px;font-weight:bold;text-align:center;font-size:0;color:#3c14c3;}
.custom-check input[type="checkbox"]:checked ~ label:after{font-size:12px;}
.double-fileds.mulitple-events .df-inner > div { width: 100%; }
.double-fileds.mulitple-events .single-field.when-occur { width: 100% }
.bottom-buttons input[type="submit"] {
    width: 100%;
    font-size: 15px;
    padding: 8px;
    text-transform: capitalize;
    outline: none;
}

.filled-btn input[type="submit"] {
    border: 0;
    color: #fff;
    background: #01fad8;
    background: -moz-linear-gradient(top, #01fad8 0%, #7404fe 100%);
    background: -webkit-linear-gradient(top, #01fad8 0%,#7404fe 100%);
    background: linear-gradient(to bottom, #01fad8 0%,#7404fe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01fad8', endColorstr='#7404fe',GradientType=0 );
}

.double-fileds .single-field, .double-head .single-head { display: inline-block; }

.double-head .single-head label p {
    padding-left: 21px;
    font-size: 11px;
    line-height: 1.1;
    font-weight: normal;
}

/* 10-04-2019 end */