{#{ kint(form) }#}
{#{ form.event_name }#}
{#{ form_widget(form.event_name) }#}

<!-- <div class="create-events-wrap">
    <div class="cew-inner clearfix">
        <div class="create-event-right"> -->
                                <h1><span>Event</span> Information</h1>

                                <div class="single-field">
                                    {{ form.event_name }}
                                </div>
                                <div class="single-field">
                                    {{ form.event_description }}
                                </div>
                                <div class="double-fileds">
                                    <div class="df-inner">
                                        <div class="single-field">
                                            {{ form.multievent_wrapper_container.event_date_time.start_date }}
                                        </div>
                                        <div class="single-field">
                                            {{ form.multievent_wrapper_container.event_date_time.end_date }}
                                        </div>
                                    </div>
                                </div>
                                <div class="double-fileds">
                                    <div class="df-inner">
                                        <div class="single-field">
                                            {{ form.multievent_wrapper_container.event_date_time.start_time }}                    
                                        </div>
                                        <div class="single-field">
                                            {{ form.multievent_wrapper_container.event_date_time.end_time }}
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-check">
                                    <div class="cc-inner">
                                        {{ form.multiple_events }}
                                    </div>
                                </div>
                                <div class="single-field when-occur">
                                    <label>
                                        <select class="selectpicker">
                                            <option>How Often Does This Event Occur?</option>
                                            <option>Daily</option>
                                            <option>Weekly</option>
                                            <option>Monthly</option>
                                            <option>Custom</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="double-fileds">
                                    <h3><span>When is your</span> registration deadlines?</h3>
                                    <div class="df-inner">
                                        <div class="single-field">
                                            <label><span>Date</span><em class="req-star">*</em></label>
                                            <input type="text" id="datepicker-registration" placeholder="00:00 AM">
                                        </div>
                                        <div class="single-field">
                                            <label><span>Time</span><em class="req-star">*</em></label>
                                            <input id="scrollDefaultExample" type="text" class="time" placeholder="00:00 PM"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="double-fileds mulitple-events">
                                    <div class="double-head">
                                        <div class="single-head">
                                            <div class="custom-check">
                                                <div class="cc-inner">
                                                    <label>
                                                        <input type="checkbox" name="">
                                                        <p>Select by day of the week</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-head">
                                            <div class="custom-check">
                                                <div class="cc-inner">
                                                    <label>
                                                        <input type="checkbox" name="">
                                                        <p>Select by day of the month</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="df-inner">
                                        <div class="single-field">
                                            <label>
                                                <select class="selectpicker">
                                                    <option>Repeating Every</option>
                                                    <option>First</option>
                                                    <option>Second</option>
                                                    <option>Third</option>
                                                    <option>Fourth</option>
                                                </select>
                                            </label>
                                        </div>
                                        <div class="single-field">
                                            <label>
                                                <select class="selectpicker" multiple>
                                                    <option>Sunday</option>
                                                    <option>Monday</option>
                                                    <option>Tuesday</option>
                                                    <option>Wednesday</option>
                                                    <option>Thursday</option>
                                                    <option>Friday</option>
                                                    <option>Saturday</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="add-dates">
                                    <div class="single-date">
                                        <div class="sd-inner">
                                            <div class="sd-left">
                                                <h4>2</h4>
                                                <span>Dates</span>
                                            </div>
                                            <div class="sd-center">
                                                <h3>
                                                    <span>Monthly on the </span>
                                                    <span>3rd Tuesday <strong>9:30 AM - 5:30 PM</strong></span>
                                                </h3>
                                                <p>Starting June 20, 2019 through July 18, 2019</p>
                                            </div>
                                            <div class="sd-right">
                                                <i class="far fa-list-alt"></i>
                                                <i class="far fa-edit"></i>
                                                <i class="far fa-trash-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-date">
                                        <div class="sd-inner">
                                            <div class="sd-left">
                                                <h4>2</h4>
                                                <span>Dates</span>
                                            </div>
                                            <div class="sd-center">
                                                <h3>
                                                    <span>Monthly on the </span>
                                                    <span>3rd Tuesday <strong>9:30 AM - 5:30 PM</strong></span>
                                                </h3>
                                                <p>Starting June 20, 2019 through July 18, 2019</p>
                                            </div>
                                            <div class="sd-right">
                                                <i class="far fa-list-alt"></i>
                                                <i class="far fa-edit"></i>
                                                <i class="far fa-trash-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bottom-buttons">
                                        <div class="single-button filled-btn"><button>Add <strong>Date</strong></button></div>
                                    </div>
                                </div>

                                <div class="single-field">
                                    <label><span>What is your</span> registration goal?</label>
                                    <input type="text" name="" placeholder="Registration goal">
                                </div>
                                <div class="single-field upload-img">
                                    <h3><span>Event</span> Image & Video</h3>
                                    <div class="file-upload">
                                        <div id="image-preview">
                                            <label for="image-upload" id="image-label">
                                                <span>
                                                    <i class="fas fa-camera"></i>
                                                    <span><i>Add</i> Event Image</span>
                                                </span>
                                            </label>
                                            <input type="file" name="image" id="image-upload" />
                                        </div>
                                    </div>
                                </div>

                                <div class="bottom-buttons">
                                    <div class="single-button filled-btn"><button>Continue</button></div>
                                    <div class="single-button outlined-btn"><button>cancel</button></div>
                                </div>
<!--         </div>                            
    </div>
</div> -->