{#{ kint(form) }#}


<div class="create-event-right">
    <h1><span>Location</span></h1>
    {#{ form }#}
    {{ form.event_venue }}
	<div class="double-fileds public-private">
	    <div class="df-inner">
	        <div class="single-field">
	            <div class="custom-check">
	                <div class="cc-inner">
	                    {{ form.enter_addr }}
	                </div>
	            </div>
	        </div>
	        <div class="single-field">
	            <div class="apply-fee-btn">
	            	<label>
	                    {{ form.online_event}}
	                    <span class="afb-wrap">
	                        <span class="afb-toggle"></span>
	                        <span class="afb-text">Online <strong>Event</strong></span>
	                    </span>
	                </label>            	
	                {#{ kint(form.online_event) }#}
	            </div>
	        </div>
	    </div>
	</div>
	{{ form.details }}
	{{ form.map_canvas }}
</div>
                            
             

