{#{ kint(form) }#}
{#{ form.event_name }#}
{#{ form_widget(form.event_name) }#}


                            <div class="create-event-right">
                                <h1><span>Event</span> Information</h1>
                                {{ form }}
                            </div>

